In [3]:
import pandas as pd
import numpy as np

## Analisis de que predijo Keras y que XGBoost

In [5]:
pred_keras = pd.read_csv("../data/submit_keras_codificado.csv")

In [6]:
pred_xgb = pd.read_csv("../data/submit_xgb_codificado_reducido.csv")

In [12]:
comparacion = pred_keras.copy()

In [16]:
comparacion["xgb"] = pred_xgb["SCORE"]
comparacion.rename(columns = {"SCORE":"Keras"},inplace = True)

In [18]:
comparacion["Ensamble_50_50"] = comparacion["Keras"] * 0.5 + comparacion["xgb"] * 0.5

In [20]:
comparacion.head()

   USER_ID     Keras       xgb  Ensamble_50_50
0        0  0.072449  0.049721        0.061085
1        1  0.036071  0.037834        0.036952
2        2  0.018326  0.046174        0.032250
3        3  0.030138  0.036239        0.033189
4        4  0.051349  0.042581        0.046965

In [22]:
submit = comparacion[["USER_ID","Ensamble_50_50"]].rename(columns = {"Ensamble_50_50": "SCORE"})

In [26]:
submit.set_index("USER_ID",inplace = True)

In [27]:
submit.to_csv("../data/ensamble_submission.csv")

In [25]:
submit

       USER_ID     SCORE
0            0  0.061085
1            1  0.036952
2            2  0.032250
3            3  0.033189
4            4  0.046965
5            5  0.041852
6            6  0.030666
7            7  0.041997
8            8  0.036895
9            9  0.047519
10          10  0.011719
11          11  0.023410
12          12  0.036253
13          13  0.029785
14          14  0.023512
15          15  0.023888
16          16  0.048278
17          17  0.037329
18          18  0.016308
19          19  0.019762
20          20  0.020922
21          21  0.037260
22          22  0.224787
23          23  0.018642
24          24  0.096437
25          25  0.024959
26          26  0.041265
27          27  0.032325
28          28  0.032087
29          29  0.016523
...        ...       ...
11646    11646  0.061130
11647    11647  0.029556
11648    11648  0.052705
11649    11649  0.027398
11650    11650  0.029139
11651    11651  0.292305
11652    11652  0.021946
11653    11653  0.051550
11654    11654  0.029845
11655    11655  0.013039
11656    11656  0.044643
11657    11657  0.023009
11658    11658  0.020816
11659    11659  0.007961
11660    11660  0.023891
11661    11661  0.012998
11662    11662  0.021910
11663    11663  0.026427
11664    11664  0.017644
11665    11665  0.017990
11666    11666  0.012998
11667    11667  0.012998
11668    11668  0.012998
11669    11669  0.012998
11670    11670  0.018403
11671    11671  0.027210
11672    11672  0.012998
11673    11673  0.013943
11674    11674  0.012998
11675    11675  0.015378

[11676 rows x 2 columns]