In [2]:
import pandas as pd
import numpy as numpy

# Armado de sets de entrenamiento

In [2]:
train = pd.DataFrame()

In [3]:
for ventana in range(1,4):
    
    features_pageviews = pd.read_pickle("../data/features/ventana_{}_pageviews.pkl".format(ventana))
    features_conversion = pd.read_pickle("../data/features/ventana_{}_conversion.pkl".format(ventana))
    
    label = pd.read_pickle("../data/labels/labels_trimestre_{}.pkl".format(ventana+1))

    train_actual = label.merge(features_pageviews,left_index = True, right_index = True, how = 'left')
    train_actual = train_actual.merge(features_conversion,left_index = True, right_index = True, how = 'left')
    
    train = train.append(train_actual)

### Formateo los datos

#### Columnas categoricas

In [38]:
columnas_categoricas = [  'page_mas_vista_en_mes_1',
       'page_mas_vista_en_mes_2', 'page_mas_vista_en_mes_3']

In [39]:
train[columnas_categoricas] = train[columnas_categoricas].fillna(-1)
train[columnas_categoricas] = train[columnas_categoricas].astype("int32")

#### Columnas con valores numericos

In [15]:
columnas_contar = ['cantidad_paginas_vistas_trimestre',
       'cant_paginas_vistas_en_mes_1', 'cant_paginas_vistas_en_mes_2',
       'cant_paginas_vistas_en_mes_3']

In [23]:
train[columnas_contar] = train[columnas_contar].fillna(0)
train[columnas_contar] = train[columnas_contar].astype("int64")

#### Columnas booleanas

In [17]:
columnas_booleanas = ['convirtio_en_mes_1', 'convirtio_en_mes_2', 'convirtio_en_mes_3',
       'convirtio_multiple_en_mes_1', 'convirtio_multiple_en_mes_2',
       'convirtio_multiple_en_mes_3']

In [18]:
train["convirtio"] = train["convirtio"] * 1

In [24]:
train[columnas_booleanas] = train[columnas_booleanas].fillna(0)
train[columnas_booleanas] = train[columnas_booleanas].astype("int8")

---

In [28]:
train.head()

,convirtio,cantidad_paginas_vistas_trimestre,cant_paginas_vistas_en_mes_1,cant_paginas_vistas_en_mes_2,cant_paginas_vistas_en_mes_3,page_mas_vista_en_mes_1,page_mas_vista_en_mes_2,page_mas_vista_en_mes_3,convirtio_en_mes_1,convirtio_en_mes_2,convirtio_en_mes_3,convirtio_multiple_en_mes_1,convirtio_multiple_en_mes_2,convirtio_multiple_en_mes_3
USER_ID,,,,,,,,,,,,,,
6574,0,1141,524,364,253,10,10,10,0,0,0,0,0,0
2639,1,671,261,179,231,3,5,3,0,0,0,0,0,0
3898,0,219,88,50,81,85,85,27,0,0,0,0,0,0
7996,0,383,95,178,110,2,2,2,0,0,0,0,0,0
6111,0,425,208,93,124,3,39,3,0,0,0,0,0,0

In [40]:
train.to_pickle("../data/train_completo.pkl")

### Armado de set prediccion

In [32]:
    
features_pageviews = pd.read_pickle("../data/features/predecir_pageviews.pkl")
features_conversion = pd.read_pickle("../data/features/predecir_conversion.pkl")
    

features_pred = features_pageviews.merge(features_conversion,left_index = True, right_index = True, how = 'left')

In [35]:
features_pred.to_pickle("../data/prediccion_completo.pkl")

---

## Binary encode

In [4]:
import category_encoders as ce

In [3]:
train = pd.read_pickle("../data/train_completo.pkl")

In [22]:
cat_df_flights_ce = train.drop("convirtio",axis = 1).copy()

In [23]:
encoder = ce.BinaryEncoder(cols=['page_mas_vista_en_mes_1','page_mas_vista_en_mes_2','page_mas_vista_en_mes_3'])
df_binary = encoder.fit_transform(cat_df_flights_ce)

In [24]:

df_binary.columns

Index(['cantidad_paginas_vistas_trimestre', 'cant_paginas_vistas_en_mes_1',
       'cant_paginas_vistas_en_mes_2', 'cant_paginas_vistas_en_mes_3',
       'page_mas_vista_en_mes_1_0', 'page_mas_vista_en_mes_1_1',
       'page_mas_vista_en_mes_1_2', 'page_mas_vista_en_mes_1_3',
       'page_mas_vista_en_mes_1_4', 'page_mas_vista_en_mes_1_5',
       'page_mas_vista_en_mes_1_6', 'page_mas_vista_en_mes_1_7',
       'page_mas_vista_en_mes_1_8', 'page_mas_vista_en_mes_2_0',
       'page_mas_vista_en_mes_2_1', 'page_mas_vista_en_mes_2_2',
       'page_mas_vista_en_mes_2_3', 'page_mas_vista_en_mes_2_4',
       'page_mas_vista_en_mes_2_5', 'page_mas_vista_en_mes_2_6',
       'page_mas_vista_en_mes_2_7', 'page_mas_vista_en_mes_2_8',
       'page_mas_vista_en_mes_3_0', 'page_mas_vista_en_mes_3_1',
       'page_mas_vista_en_mes_3_2', 'page_mas_vista_en_mes_3_3',
       'page_mas_vista_en_mes_3_4', 'page_mas_vista_en_mes_3_5',
       'page_mas_vista_en_mes_3_6', 'page_mas_vista_en_mes_3_7',
       'page_mas_vista_en_mes_3_8', 'convirtio_en_mes_1', 'convirtio_en_mes_2',
       'convirtio_en_mes_3', 'convirtio_multiple_en_mes_1',
       'convirtio_multiple_en_mes_2', 'convirtio_multiple_en_mes_3'],
      dtype='object')

In [42]:
df_binary.head()

,cantidad_paginas_vistas_trimestre,cant_paginas_vistas_en_mes_1,cant_paginas_vistas_en_mes_2,cant_paginas_vistas_en_mes_3,page_mas_vista_en_mes_1_0,page_mas_vista_en_mes_1_1,page_mas_vista_en_mes_1_2,page_mas_vista_en_mes_1_3,page_mas_vista_en_mes_1_4,page_mas_vista_en_mes_1_5,...,page_mas_vista_en_mes_3_5,page_mas_vista_en_mes_3_6,page_mas_vista_en_mes_3_7,page_mas_vista_en_mes_3_8,convirtio_en_mes_1,convirtio_en_mes_2,convirtio_en_mes_3,convirtio_multiple_en_mes_1,convirtio_multiple_en_mes_2,convirtio_multiple_en_mes_3
USER_ID,,,,,,,,,,,,,,,,,,,,,
6574,1141,524,364,253,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
2639,671,261,179,231,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
3898,219,88,50,81,0,0,0,0,0,0,...,0,0,1,1,0,0,0,0,0,0
7996,383,95,178,110,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
6111,425,208,93,124,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0

In [44]:
df_binary["convirtio"] = train["convirtio"]

In [45]:
df_binary.to_pickle("../data/train_codificado.pkl")

In [26]:
pred = pd.read_pickle("../data/prediccion_completo.pkl")

In [27]:
df_binary_pred = encoder.transform(pred)

In [41]:
df_binary_pred.to_pickle("../data/prediccion_codificado.pkl")