In [29]:
import pandas as pd
import numpy as numpy
import category_encoders as ce

# Armado de sets de entrenamiento

In [2]:
train = pd.DataFrame()

In [3]:
for ventana in range(1,4):
    
    features_pageviews = pd.read_pickle("../data/features/ventana_{}_pageviews.pkl".format(ventana))
    features_conversion = pd.read_pickle("../data/features/ventana_{}_conversion.pkl".format(ventana))
    features_devicedata = pd.read_pickle("../data/features/ventana_{}_devicedata.pkl".format(ventana))
    
    label = pd.read_pickle("../data/labels/labels_trimestre_{}.pkl".format(ventana+1))

    train_actual = label.merge(features_pageviews,left_index = True, right_index = True, how = 'left')
    train_actual = train_actual.merge(features_conversion,left_index = True, right_index = True, how = 'left')
    train_actual = train_actual.merge(features_devicedata,left_index = True, right_index = True, how = 'left')
    
    train = train.append(train_actual)

In [4]:
train.head()

,USER_ID,convirtio,cantidad_paginas_vistas_trimestre,cant_paginas_vistas_en_mes_1,cant_paginas_vistas_en_mes_2,cant_paginas_vistas_en_mes_3,page_mas_vista_en_mes_1,page_mas_vista_en_mes_2,page_mas_vista_en_mes_3,convirtio_en_mes_1,convirtio_en_mes_2,convirtio_en_mes_3,convirtio_multiple_en_mes_1,convirtio_multiple_en_mes_2,convirtio_multiple_en_mes_3,Vistas trim No MD,Vistas trim MD
0,6574,False,1841.0,710.0,375.0,756.0,10.0,10.0,10.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,190.0
1,2639,False,623.0,250.0,192.0,181.0,10.0,2.0,10.0,NaN,NaN,NaN,NaN,NaN,NaN,2.0,51.0
2,3898,False,419.0,127.0,78.0,214.0,10.0,2.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,21.0,26.0
3,7996,False,346.0,117.0,118.0,111.0,14.0,85.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,80.0
4,6111,False,1281.0,311.0,191.0,779.0,10.0,10.0,10.0,NaN,NaN,NaN,NaN,NaN,NaN,155.0,3.0

### Formateo los datos

#### Columnas categoricas

In [5]:
columnas_categoricas = [  'page_mas_vista_en_mes_1',
       'page_mas_vista_en_mes_2', 'page_mas_vista_en_mes_3']

In [6]:
train[columnas_categoricas] = train[columnas_categoricas].fillna(-1)
train[columnas_categoricas] = train[columnas_categoricas].astype("int16")

#### Columnas con valores numericos

In [14]:
columnas_contar = ['cantidad_paginas_vistas_trimestre',
       'cant_paginas_vistas_en_mes_1', 'cant_paginas_vistas_en_mes_2',
       'cant_paginas_vistas_en_mes_3', 'Vistas trim No MD', 'Vistas trim MD']

In [15]:
train[columnas_contar] = train[columnas_contar].fillna(0)
train[columnas_contar] = train[columnas_contar].astype("int64")

#### Columnas booleanas

In [16]:
columnas_booleanas = ['convirtio_en_mes_1', 'convirtio_en_mes_2', 'convirtio_en_mes_3',
       'convirtio_multiple_en_mes_1', 'convirtio_multiple_en_mes_2',
       'convirtio_multiple_en_mes_3']

In [17]:
train["convirtio"] = train["convirtio"] * 1

In [18]:
train[columnas_booleanas] = train[columnas_booleanas].fillna(0)
train[columnas_booleanas] = train[columnas_booleanas].astype("int8")

---

In [20]:
train.head(15)

,USER_ID,convirtio,cantidad_paginas_vistas_trimestre,cant_paginas_vistas_en_mes_1,cant_paginas_vistas_en_mes_2,cant_paginas_vistas_en_mes_3,page_mas_vista_en_mes_1,page_mas_vista_en_mes_2,page_mas_vista_en_mes_3,convirtio_en_mes_1,convirtio_en_mes_2,convirtio_en_mes_3,convirtio_multiple_en_mes_1,convirtio_multiple_en_mes_2,convirtio_multiple_en_mes_3,Vistas trim No MD,Vistas trim MD
0,6574,0,1841,710,375,756,10,10,10,0,0,0,0,0,0,0,190
1,2639,0,623,250,192,181,10,2,10,0,0,0,0,0,0,2,51
2,3898,0,419,127,78,214,10,2,2,0,0,0,0,0,0,21,26
3,7996,0,346,117,118,111,14,85,2,0,0,0,0,0,0,0,80
4,6111,0,1281,311,191,779,10,10,10,0,0,0,0,0,0,155,3
5,2378,0,865,281,177,407,85,85,2,0,0,0,0,0,0,0,128
6,3868,0,288,8,231,49,85,168,2,0,0,0,0,0,0,0,28
7,3861,0,400,156,118,126,10,10,10,0,0,0,0,0,0,0,63
8,2587,0,291,131,52,108,10,10,10,0,0,0,0,0,0,0,47
9,5845,0,386,130,68,188,10,10,10,0,0,0,0,0,0,47,16
10,4304,0,174,74,77,23,10,10,1,0,0,0,0,0,0,7,29
11,195,0,257,112,63,82,10,10,2,0,0,0,0,0,0,1,38
12,3561,0,801,227,307,267,10,10,10,0,0,0,0,0,0,0,171
13,4087,0,435,109,199,127,10,10,10,0,0,0,0,0,0,0,48
15,8657,0,385,160,98,127,2,10,10,0,0,0,0,0,0,66,0

In [21]:
train.set_index("USER_ID", inplace = True)

In [22]:
train.to_pickle("../data/train_completo.pkl")

### Armado de set prediccion

In [26]:
    
features_pageviews = pd.read_pickle("../data/features/predecir_pageviews.pkl")
features_conversion = pd.read_pickle("../data/features/predecir_conversion.pkl")
features_devicedata = pd.read_pickle("../data/features/predecir_devicedata.pkl")
    
features_pred = features_pageviews.merge(features_conversion,left_index = True, right_index = True, how = 'left')
features_pred = features_pred.merge(features_devicedata,left_index = True, right_index = True, how = 'left')

In [27]:
features_pred.head()

,cantidad_paginas_vistas_trimestre,cant_paginas_vistas_en_mes_1,cant_paginas_vistas_en_mes_2,cant_paginas_vistas_en_mes_3,page_mas_vista_en_mes_1,page_mas_vista_en_mes_2,page_mas_vista_en_mes_3,convirtio_en_mes_1,convirtio_en_mes_2,convirtio_en_mes_3,convirtio_multiple_en_mes_1,convirtio_multiple_en_mes_2,convirtio_multiple_en_mes_3,Vistas trim No MD,Vistas trim MD
USER_ID,,,,,,,,,,,,,,,
0,1519,527,490,502,2,2,2,0,0,0,0,0,0,0,112
1,477,138,140,199,2,2,2,0,0,0,0,0,0,9,50
2,651,222,142,287,2,2,21,0,0,0,0,0,0,19,55
3,381,63,121,197,2,2,2,0,0,0,0,0,0,5,52
4,627,284,278,65,27,2,2,0,0,0,0,0,0,46,2

In [28]:
features_pred.to_pickle("../data/prediccion_completo.pkl")

---

## Binary encode

In [3]:
train = pd.read_pickle("../data/train_completo.pkl")

In [30]:
label = train["convirtio"]
train.drop("convirtio",axis = 1, inplace = True )

In [31]:
encoder = ce.BinaryEncoder(cols=['page_mas_vista_en_mes_1','page_mas_vista_en_mes_2','page_mas_vista_en_mes_3'])
train_binary = encoder.fit_transform(train)

In [32]:

train_binary.columns

Index(['cantidad_paginas_vistas_trimestre', 'cant_paginas_vistas_en_mes_1',
       'cant_paginas_vistas_en_mes_2', 'cant_paginas_vistas_en_mes_3',
       'page_mas_vista_en_mes_1_0', 'page_mas_vista_en_mes_1_1',
       'page_mas_vista_en_mes_1_2', 'page_mas_vista_en_mes_1_3',
       'page_mas_vista_en_mes_1_4', 'page_mas_vista_en_mes_1_5',
       'page_mas_vista_en_mes_1_6', 'page_mas_vista_en_mes_1_7',
       'page_mas_vista_en_mes_2_0', 'page_mas_vista_en_mes_2_1',
       'page_mas_vista_en_mes_2_2', 'page_mas_vista_en_mes_2_3',
       'page_mas_vista_en_mes_2_4', 'page_mas_vista_en_mes_2_5',
       'page_mas_vista_en_mes_2_6', 'page_mas_vista_en_mes_2_7',
       'page_mas_vista_en_mes_3_0', 'page_mas_vista_en_mes_3_1',
       'page_mas_vista_en_mes_3_2', 'page_mas_vista_en_mes_3_3',
       'page_mas_vista_en_mes_3_4', 'page_mas_vista_en_mes_3_5',
       'page_mas_vista_en_mes_3_6', 'page_mas_vista_en_mes_3_7',
       'convirtio_en_mes_1', 'convirtio_en_mes_2', 'convirtio_en_mes_3',
       'convirtio_multiple_en_mes_1', 'convirtio_multiple_en_mes_2',
       'convirtio_multiple_en_mes_3', 'Vistas trim No MD', 'Vistas trim MD'],
      dtype='object')

In [33]:
train_binary["convirtio"] = label

In [34]:
train_binary.head()

,cantidad_paginas_vistas_trimestre,cant_paginas_vistas_en_mes_1,cant_paginas_vistas_en_mes_2,cant_paginas_vistas_en_mes_3,page_mas_vista_en_mes_1_0,page_mas_vista_en_mes_1_1,page_mas_vista_en_mes_1_2,page_mas_vista_en_mes_1_3,page_mas_vista_en_mes_1_4,page_mas_vista_en_mes_1_5,...,page_mas_vista_en_mes_3_7,convirtio_en_mes_1,convirtio_en_mes_2,convirtio_en_mes_3,convirtio_multiple_en_mes_1,convirtio_multiple_en_mes_2,convirtio_multiple_en_mes_3,Vistas trim No MD,Vistas trim MD,convirtio
USER_ID,,,,,,,,,,,,,,,,,,,,,
6574,1841,710,375,756,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,190,0
2639,623,250,192,181,0,0,0,0,0,0,...,1,0,0,0,0,0,0,2,51,0
3898,419,127,78,214,0,0,0,0,0,0,...,0,0,0,0,0,0,0,21,26,0
7996,346,117,118,111,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,80,0
6111,1281,311,191,779,0,0,0,0,0,0,...,1,0,0,0,0,0,0,155,3,0

In [35]:
train_binary.to_pickle("../data/train_codificado.pkl")

In [36]:
pred = pd.read_pickle("../data/prediccion_completo.pkl")

In [37]:
pred_binary = encoder.transform(pred)

In [38]:
pred_binary.to_pickle("../data/prediccion_codificado.pkl")