In [1]:
import pandas as pd
import numpy as numpy

# Armado de sets de entrenamiento

In [16]:
train = pd.DataFrame()

In [17]:
for ventana in range(1,4):
    
    features_pageviews = pd.read_csv("../data/features/ventana_{}_pageviews.csv".format(ventana))
    label = pd.read_csv("../data/labels/labels_trimestre_{}".format(ventana+1))

    train_actual = label.merge(features_pageviews,on = "USER_ID", how = 'left')
    train = train.append(train_actual)

In [18]:
train.to_csv("../data/")

       USER_ID  convirtio  cantidad_paginas_vistas_trimestre
0         6574      False                             1141.0
1         2639       True                              671.0
2         3898      False                              219.0
3         7996      False                              383.0
4         6111      False                              425.0
5         2378      False                              879.0
6         3868      False                              267.0
7         3861      False                              344.0
8         2587      False                              406.0
9         5845      False                              595.0
10        4304      False                              251.0
11         195      False                              898.0
12        3561      False                              700.0
13        4087      False                              196.0
14        8657       True                              303.0
15        2145      False                              700.0
16        2234      False                             1472.0
17        3183      False                              501.0
18        3294      False                             1177.0
19        8039       True                              266.0
20        7033      False                              674.0
21        3230       True                              534.0
22         361      False                             1583.0
23        9483      False                              452.0
24        5433      False                              667.0
25       10141      False                             1019.0
26         602      False                              184.0
27        1589      False                              763.0
28       10735      False                             3092.0
29        1220      False                              305.0
...        ...        ...                                ...
11646    11503      False                                NaN
11647    11534      False                                NaN
11648    11385      False                                NaN
11649    11616      False                                NaN
11650    11542      False                                NaN
11651    11393      False                                NaN
11652    11544      False                                NaN
11653    11629      False                                NaN
11654    11539      False                                NaN
11655    11622      False                                NaN
11656    11328      False                                NaN
11657    11631      False                                NaN
11658    11535      False                                NaN
11659    11562      False                                NaN
11660    11545      False                                NaN
11661    11577      False                                NaN
11662    11395      False                                NaN
11663    11432      False                                NaN
11664    11350      False                                NaN
11665    11640      False                                NaN
11666    11526      False                                NaN
11667    11441      False                                NaN
11668    11354      False                                NaN
11669    11543      False                                NaN
11670    11317      False                                NaN
11671    11411      False                                NaN
11672    11632      False                                NaN
11673    11641      False                                NaN
11674    11398      False                                NaN
11675    11406      False                                NaN

[35028 rows x 3 columns]