In [1]:
import pandas as pd 
import numpy as np

## Notebook dedicado a obtener los usuarios destinatarios de los features

---

### Cargo datos

In [2]:
conversiones = pd.read_pickle("../data/conversiones.pkl")

In [3]:
users = pd.read_pickle("../data/device_data.pkl")

---

### Obtengo total de usuarios

In [9]:
users = users["USER_ID"].drop_duplicates().to_frame()

In [20]:
len(users)

11676

In [21]:
users.to_pickle("../data/users.pkl")

In [22]:
users.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11676 entries, 0 to 2860685
Data columns (total 1 columns):
USER_ID    11676 non-null int16
dtypes: int16(1)
memory usage: 114.0 KB

---

### Armado de labels

In [21]:
for trimestre in range(2,5):
    validacion = conversiones[conversiones["trimestre"] == trimestre]
    label = users.copy()
    label["convirtio"] = (label["USER_ID"]).isin(validacion["USER_ID"])
    label.set_index("USER_ID", inplace = True)
    label.to_pickle("../data/labels/labels_trimestre_{}.pkl".format(trimestre))

In [18]:
e = {}

In [19]:
for trimestre in range(2,5):
    validacion = conversiones[conversiones["trimestre"] == trimestre]
    label = users.copy()
    label["convirtio"] = (label["USER_ID"]).isin(validacion["USER_ID"])
    e[trimestre] = label
    
    print(validacion["USER_ID"].nunique())
    print( label["convirtio"].sum())

374
374
392
392
391
391

In [20]:
e[2]

         USER_ID  convirtio
0           6574      False
1           2639       True
2           3898      False
3           7996      False
4           6111      False
5           2378      False
6           3868      False
7           3861      False
8           2587      False
9           5845      False
10          4304      False
11           195      False
12          3561      False
13          4087      False
15          8657       True
16          2145      False
17          2234      False
19          3183      False
21          3294      False
22          8039       True
23          7033      False
24          3230       True
25           361      False
26          9483      False
27          5433      False
28         10141      False
29           602      False
30          1589      False
31         10735      False
32          1220      False
...          ...        ...
2674103    11503      False
2676209    11534      False
2680439    11385      False
2702576    11616      False
2707202    11542      False
2708687    11393      False
2721995    11544      False
2726315    11629      False
2728594    11539      False
2738413    11622      False
2749163    11328      False
2760673    11631      False
2766405    11535      False
2778991    11562      False
2788854    11545      False
2796075    11577      False
2799524    11395      False
2800034    11432      False
2804097    11350      False
2807760    11640      False
2818017    11526      False
2828118    11441      False
2831059    11354      False
2831772    11543      False
2832623    11317      False
2835594    11411      False
2847903    11632      False
2856241    11641      False
2859872    11398      False
2860685    11406      False

[11676 rows x 2 columns]

In [14]:
validacion = conversiones[conversiones["trimestre"] == 3]

In [17]:
label[label["USER_ID"].isin(validacion["USER_ID"])]

         USER_ID  convirtio
56          3359      False
87          2460      False
100        10600       True
111         7320      False
134         5081      False
228         5981      False
232         3479      False
244         8273       True
279         8126      False
328         8270       True
376          803      False
395         3473       True
406         3407      False
410         1116      False
433        10543      False
443          565      False
450         8975      False
499         5393      False
519         6731       True
539         7829      False
597         1494       True
617         9230       True
644         5761      False
710         9818      False
720        10815      False
748         7613      False
777         4240       True
806         2112       True
820         1056      False
826         2362      False
...          ...        ...
98215       1168      False
100133      3584      False
130024      8608      False
130962      1907       True
131049     10731      False
141875      2191      False
143851      9442      False
148889       397       True
151892      4700      False
153643      3381      False
156440      5387       True
160826      6077      False
167647       378      False
174523      9597      False
177229      2443       True
188471      8619      False
193294      3587      False
212802      4105      False
326112      6823      False
347192      4473      False
420906      4641      False
804788     11301      False
907580     11069      False
936561     11031      False
975483     11035       True
1201213    11266      False
1278976    11211      False
1312001    10943      False
1629464    11671      False
1677772    11644      False

[392 rows x 2 columns]

In [13]:
validacion

     mes  anio USER_ID  trimestre
0      1  2018    2483          1
1      1  2018    7088          1
2      1  2018    1787          1
3      1  2018    2085          1
4      1  2018    8270          1
5      1  2018    9968          1
6      1  2018    2119          1
7      1  2018    7059          1
8      1  2018   10612          1
9      1  2018    1881          1
10     1  2018    2048          1
11     1  2018    2321          1
12     1  2018      40          1
13     1  2018    7209          1
14     1  2018    2195          1
15     1  2018    8757          1
16     1  2018    2485          1
17     1  2018    2325          1
18     1  2018    7911          1
19     1  2018    9353          1
20     1  2018    9495          1
21     1  2018    2250          1
22     1  2018    9659          1
23     1  2018    1819          1
24     1  2018    5782          1
25     1  2018    9225          1
26     1  2018    3230          1
27     1  2018    8270          1
28     1  2018    8393          1
29     1  2018    3086          1
..   ...   ...     ...        ...
247    3  2018    9590          1
248    3  2018    3453          1
249    3  2018    3150          1
250    3  2018     437          1
251    3  2018    8377          1
252    3  2018     763          1
253    3  2018   10077          1
254    3  2018    1549          1
255    3  2018    1785          1
256    3  2018    8270          1
257    3  2018    1802          1
258    3  2018    8502          1
259    3  2018    6831          1
260    3  2018    8878          1
261    3  2018    2557          1
262    3  2018    3708          1
263    3  2018    1684          1
264    3  2018    9296          1
265    3  2018    9320          1
266    3  2018    2409          1
267    3  2018   10064          1
268    3  2018     580          1
269    3  2018    6380          1
270    3  2018    4283          1
271    3  2018    9590          1
272    3  2018    2669          1
273    3  2018    6441          1
274    3  2018    4979          1
275    3  2018    3166          1
276    3  2018    3544          1

[277 rows x 4 columns]

---