In [1]:
import pandas as pd
import numpy as np

In [2]:
def etiquetar_trimestre(mes):
    return (((mes-1) // 3 ) + 1)

## Conversiones

In [3]:
tipos_conv = {"mes": np.int8,
             "anio": np.int16,
             "USER_ID": np.int64}

In [4]:
conversiones = pd.read_csv("../data/conversiones.csv", dtype = tipos_conv)

In [5]:
conversiones.head()

   mes  anio  USER_ID
0    7  2018     1410
1    8  2018    10755
2    8  2018     8270
3   10  2018     7558
4    9  2018    10731

In [6]:
conversiones["trimestre"] = conversiones["mes"].apply(lambda x: etiquetar_trimestre(x))

In [7]:
conversiones.sort_values(by = "mes", inplace = True)
conversiones.reset_index(inplace = True, drop = True)

In [8]:
conversiones.head()

   mes  anio  USER_ID  trimestre
0    1  2018     2483          1
1    1  2018     7088          1
2    1  2018     1787          1
3    1  2018     2085          1
4    1  2018     8270          1

In [9]:
conversiones.to_pickle("../data/conversiones.pkl")

#### Elimino el dataset para que no siga ocupando memoria

In [10]:
del conversiones

---

## Device Data

In [11]:
tipos_device = {"CONNECTION_SPEED": np.int8,
               "IS_MOBILE_DEVICE": bool,
               "USER_ID": np.int64}

In [12]:
device_data = pd.read_csv("../data/device_data.csv", dtype = tipos_device)

In [13]:
device_data["FEC_EVENT"] = pd.to_datetime(device_data["FEC_EVENT"])

In [14]:
device_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2871406 entries, 0 to 2871405
Data columns (total 4 columns):
FEC_EVENT           datetime64[ns]
CONNECTION_SPEED    int8
IS_MOBILE_DEVICE    bool
USER_ID             int64
dtypes: bool(1), datetime64[ns](1), int64(1), int8(1)
memory usage: 49.3 MB

In [15]:
device_data.head()

            FEC_EVENT  CONNECTION_SPEED  IS_MOBILE_DEVICE  USER_ID
0 2018-11-22 10:15:38                 1              True        0
1 2018-09-11 09:39:41                 1              True        0
2 2018-11-29 16:29:03                 3              True        0
3 2018-05-16 21:12:54                 3              True        0
4 2018-10-12 19:28:23                 3              True        0

#### Ordeno por fecha

In [16]:
device_data.sort_values(by = "FEC_EVENT",inplace = True)

In [17]:
device_data.reset_index(inplace = True, drop = True)

In [18]:
device_data["mes"] = device_data["FEC_EVENT"].dt.month

In [19]:
device_data["trimestre"] = device_data["mes"].apply(lambda x: etiquetar_trimestre(x))

In [20]:
device_data.head()

,FEC_EVENT,CONNECTION_SPEED,IS_MOBILE_DEVICE,USER_ID,mes,trimestre
0,2018-01-12 00:00:06,1,False,6574,1,1
1,2018-01-12 00:00:06,3,True,2639,1,1
2,2018-01-12 00:00:08,0,False,3898,1,1
3,2018-01-12 00:00:09,1,False,7996,1,1
4,2018-01-12 00:00:14,1,False,6111,1,1

In [21]:
device_data.to_pickle("../data/device_data.pkl")

#### Elimino el dataset para que no ocupe memoria

In [22]:
del device_data

---

## Pageviews

In [2]:
pageviews = pd.read_pickle("../data/pageviews_formateado.pkl")

In [3]:
tipos_pageviews = {'PAGE': 'category',
                   'CONTENT_CATEGORY': 'category',
                   'CONTENT_CATEGORY_TOP': 'category',
                   'CONTENT_CATEGORY_BOTTOM': 'category',
                   'SITE_ID': 'category',
                   'ON_SITE_SEARCH_TERM': 'category',
                   'USER_ID': 'category'}

In [4]:
pageviews_comp = pd.read_csv("../data/pageviews_complemento.csv", parse_dates = ["FEC_EVENT"], dtype = tipos_pageviews)

In [ ]:
pageviews=pageviews.append(pageviews_comp)

In [ ]:
pageviews = pageviews.append(pageviews_comp)

In [15]:
columnas = ['CONTENT_CATEGORY', 'CONTENT_CATEGORY_BOTTOM', 'CONTENT_CATEGORY_TOP', 'ON_SITE_SEARCH_TERM', 'PAGE', 'SITE_ID', 'USER_ID']

In [16]:
pageviews[columnas] = pageviews[columnas].astype("category")

#### ordeno por fecha

In [10]:
pageviews.sort_values(by = "FEC_EVENT", inplace = True)

In [11]:
pageviews.reset_index(drop = True, inplace = True)

In [21]:
pageviews["mes"] = (pageviews["FEC_EVENT"].dt.month).astype("int8")

In [22]:
pageviews["trimestre"] = pageviews["mes"].apply(lambda x: etiquetar_trimestre(x)).astype("int8")

In [23]:
pageviews.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22870354 entries, 0 to 22870353
Data columns (total 10 columns):
CONTENT_CATEGORY           category
CONTENT_CATEGORY_BOTTOM    category
CONTENT_CATEGORY_TOP       category
FEC_EVENT                  datetime64[ns]
ON_SITE_SEARCH_TERM        category
PAGE                       category
SITE_ID                    category
USER_ID                    category
mes                        int8
trimestre                  int8
dtypes: category(7), datetime64[ns](1), int8(2)
memory usage: 436.7 MB

In [24]:
pageviews.to_pickle("../data/pageviews_total_formateado.pkl")

#### Elimino el dataset para que no ocupe memoria

In [25]:
del pageviews