In [1]:
import pandas as pd
import numpy as np

## Conversiones

In [38]:
tipos_conv = {"mes": np.int8,
             "anio": np.int16,
             "USER_ID": np.int64}

In [39]:
conversiones = pd.read_csv("../data/conversiones.csv", dtype = tipos_conv)

In [40]:
conversiones.head()

   mes  anio  USER_ID
0    7  2018     1410
1    8  2018    10755
2    8  2018     8270
3   10  2018     7558
4    9  2018    10731

---

## Device Data

In [58]:
tipos_device = {"CONNECTION_SPEED": np.int8,
               "IS_MOBILE_DEVICE": "category",
               "USER_ID": np.int64}

In [59]:
device_data = pd.read_csv("../data/device_data.csv",parse_dates = True, dtype = tipos_device)

In [60]:
device_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2871406 entries, 0 to 2871405
Data columns (total 4 columns):
FEC_EVENT           object
CONNECTION_SPEED    int8
IS_MOBILE_DEVICE    category
USER_ID             int64
dtypes: category(1), int64(1), int8(1), object(1)
memory usage: 49.3+ MB

#### Ordeno por fecha

In [61]:
device_data.sort_values(by = "FEC_EVENT",inplace = True)

In [62]:
device_data.reset_index(inplace = True, drop = True)

In [63]:
device_data.head()

             FEC_EVENT  CONNECTION_SPEED IS_MOBILE_DEVICE  USER_ID
0  2018-01-12 00:00:06                 1                0     6574
1  2018-01-12 00:00:06                 3                1     2639
2  2018-01-12 00:00:08                 0                0     3898
3  2018-01-12 00:00:09                 1                0     7996
4  2018-01-12 00:00:14                 1                0     6111

In [64]:
device_data.to_csv("../data/device_data.csv")

---

## Pageviews

In [4]:
tipos_pageviews = {'PAGE': 'category',
                   'CONTENT_CATEGORY': 'category',
                   'CONTENT_CATEGORY_TOP': 'category',
                   'CONTENT_CATEGORY_BOTTOM': 'category',
                   'SITE_ID': 'category',
                   'ON_SITE_SEARCH_TERM': 'category',
                   'USER_ID': 'category'}

In [5]:
pageviews = pd.read_csv("../data/pageviews.csv", parse_dates = ["FEC_EVENT"], dtype = tipos_pageviews)

#### ordeno por fecha

In [9]:
pageviews.sort_values(by = "FEC_EVENT", inplace = True)

In [11]:
pageviews.reset_index(drop = True, inplace = True)

In [12]:
pageviews.to_pickle("../data/pageviews_formateado.pkl")

In [14]:
pageviews.to_csv("../data/pageviews.csv")

### Pageviews complementos

In [2]:
pageviews_comp = pd.read_csv("../data/pageviews_complemento.csv")

In [5]:
pageviews_comp.head()

,PAGE,CONTENT_CATEGORY,CONTENT_CATEGORY_TOP,CONTENT_CATEGORY_BOTTOM,SITE_ID,ON_SITE_SEARCH_TERM,USER_ID,FEC_EVENT
0,2,2,2,2,2,1,5803,2018-07-16 12:20:46
1,9,4,2,4,2,1,5803,2018-07-16 12:20:55
2,10,4,2,4,2,1,5803,2018-07-16 12:21:26
3,10,4,2,4,2,1,6254,2018-08-11 00:45:58
4,15,4,2,4,2,1,6254,2018-08-11 00:46:28

In [7]:
pageviews_comp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4933420 entries, 0 to 4933419
Data columns (total 8 columns):
PAGE                       int64
CONTENT_CATEGORY           int64
CONTENT_CATEGORY_TOP       int64
CONTENT_CATEGORY_BOTTOM    int64
SITE_ID                    int64
ON_SITE_SEARCH_TERM        int64
USER_ID                    int64
FEC_EVENT                  object
dtypes: int64(7), object(1)
memory usage: 301.1+ MB

In [13]:
pageviews_comp["PAGE"].max()

1833

In [ ]:
p