In [2]:
import pandas as pd
import numpy as np
%matplotlib inline

In [31]:
pageviews = pd.read_csv("../data/pageviews.csv")

In [32]:
pageviews.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17936934 entries, 0 to 17936933
Data columns (total 8 columns):
FEC_EVENT                  object
PAGE                       int64
CONTENT_CATEGORY           int64
CONTENT_CATEGORY_TOP       int64
CONTENT_CATEGORY_BOTTOM    int64
SITE_ID                    int64
ON_SITE_SEARCH_TERM        int64
USER_ID                    int64
dtypes: int64(7), object(1)
memory usage: 1.1+ GB

In [33]:
pageviews.head()

,FEC_EVENT,PAGE,CONTENT_CATEGORY,CONTENT_CATEGORY_TOP,CONTENT_CATEGORY_BOTTOM,SITE_ID,ON_SITE_SEARCH_TERM,USER_ID
0,2018-03-30 07:35:48,1,1,1,1,1,1,0
1,2018-03-30 07:35:52,2,2,2,2,2,1,0
2,2018-03-30 07:36:11,3,2,2,2,3,1,0
3,2018-03-30 07:36:16,4,2,2,2,3,1,0
4,2018-03-30 07:41:38,5,2,2,2,2,1,0

In [34]:
pageviews.max()

FEC_EVENT                  2018-12-31 23:59:59
PAGE                                      1835
CONTENT_CATEGORY                            68
CONTENT_CATEGORY_TOP                        13
CONTENT_CATEGORY_BOTTOM                     68
SITE_ID                                      4
ON_SITE_SEARCH_TERM                        295
USER_ID                                  11675
dtype: object

In [36]:
pageviews["FEC_EVENT"] = pd.to_datetime(pageviews["FEC_EVENT"])

In [37]:
columns= ['PAGE', 'CONTENT_CATEGORY', 'CONTENT_CATEGORY_TOP',
       'CONTENT_CATEGORY_BOTTOM', 'SITE_ID', 'ON_SITE_SEARCH_TERM', 'USER_ID']

In [38]:
pageviews[columns]= pageviews[columns].astype("category")

In [39]:
pageviews.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17936934 entries, 0 to 17936933
Data columns (total 8 columns):
FEC_EVENT                  datetime64[ns]
PAGE                       category
CONTENT_CATEGORY           category
CONTENT_CATEGORY_TOP       category
CONTENT_CATEGORY_BOTTOM    category
SITE_ID                    category
ON_SITE_SEARCH_TERM        category
USER_ID                    category
dtypes: category(7), datetime64[ns](1)
memory usage: 308.4 MB

In [40]:
pageviews.isnull().sum()

FEC_EVENT                  0
PAGE                       0
CONTENT_CATEGORY           0
CONTENT_CATEGORY_TOP       0
CONTENT_CATEGORY_BOTTOM    0
SITE_ID                    0
ON_SITE_SEARCH_TERM        0
USER_ID                    0
dtype: int64

In [43]:
pageviews.to_pickle("pageviews_formateado.pkl")

In [44]:
pageviews2 = pd.read_pickle("pageviews_formateado.pkl")